name: demo

on:
  push:
    branches:
      - main
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: "lts/*"
          cache: "npm"

      - run: npm ci

      - run: STORYBOOK_DEPLOY=true npm run storybook:build -- -o dist

      - run: (cd examples/react && npm ci && npm run build -- --base ./ --outDir ../../dist/react)
      - run: (cd examples/vue && npm ci && npm run build -- --base ./ --outDir ../../dist/vue)
      - run: (cd examples/svelte && npm ci && npm run build -- --base ./ --outDir ../../dist/svelte)
      - run: (cd examples/solid && npm ci && npm run build -- --base ./ --outDir ../../dist/solid)
      - run: (cd examples/angular && npm ci && npm run build -- --base-href ./ --deploy-url ./ && mv ./dist ../../dist/angular)
      - run: (cd examples/preact && npm ci && npm run build -- --base ./ --outDir ../../dist/preact)
      - run: (cd examples/alpine && npm ci && npm run build -- --base ./ --outDir ../../dist/alpine)
      - run: (cd examples/vanilla && npm ci && npm run build -- --base ./ --outDir ../../dist/vanilla)

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: demo
